@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(180deg, rgb(67, 5, 5), rgb(3, 49, 94));
    text-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5), 0px -5px 10px rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: medium;
    font-family: 'Bree Serif', serif;
    word-spacing: 120%;
    color: rgb(22, 0, 32);
}

a:link {
    color: orange;
}

a:visited {
    color: yellow;
}

a:hover {
    color: fuchsia;
}



blockquote {
    margin: 80px auto;
    max-width: 50%;

}

q {
    font-size: 160%;
    background-color: #4b4160;
    border-radius: 15px;
    border-left: 3px dashed;
    padding-left: 30px;
    font-style: italic;
}

img {
    border-radius: 30px;
    float: left;
    width: 270px;
    box-sizing: border-box;
}

.farmer {
    border-color: blue;
}

.villagers {
    border-color: rgba(121, 0, 117, 0.716);
}

header>figure>figcaption {
    background-color: rgba(238, 198, 0, 0.2);
    max-width: fit-content;
    border-radius: 5px;
}

.good,
.bad {
    text-transform: capitalize;
}

.good {
    color: rgb(29, 186, 79);
}

.bad {
    color: rgb(125, 9, 9);
}

.p1 {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #797777;
}

.notification{
    border-radius: 20px;
    position: fixed;
    top: 75%;
    right: 1%;
    background: radial-gradient(rgb(153, 110, 10), rgb(3, 141, 33));
    width: 40px;
    height: 40px;
}